@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Nunito:wght@500&family=Open+Sans:ital,wght@1,300&family=Red+Hat+Mono&family=Ubuntu+Mono:ital@1&display=swap');

:root {
    --image: url("./assets/3.png");
}
* {
    margin: 0;
    padding: 0;
    color: white;
    font-weight: 1000;
    font-size: large;
}

body {
    display: flex;
    overflow: hidden;
    /*background-color: rgb(46, 46, 46);*/
    background-image: var(--image);
    background-position:center ;
    background-size: cover;
}

h2
 {
    font-size: larger;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.content {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    display: grid;
    column-gap: 9rem;
    grid-template-rows: 17rem 17rem 17rem;
    grid-template-columns: 17rem 17rem 17rem;
}

.card {
    height: 25vh;
    width: 20vw;
    display: flex;
    border-radius: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 4, 4);
    border: 0.25rem solid white;
    transition: all .2s ease-in-out; 
}


.card:hover {
    transform: scale(1.1); 
}
@media only screen and (max-width: 400px) {
    body {
        padding-top: 7vh;
        overflow: scroll;
    }

    .card {
        height: 10vh;
        width: 100vw;
        border-radius: 0;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }

    h2,
    p,
    a {
        font-size: small;
        font-weight:1000;
    }
}