@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Nunito:wght@500&family=Open+Sans:ital,wght@1,300&family=Red+Hat+Mono&family=Ubuntu+Mono:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    font-size: large;
}

body {
    display: flex;
    overflow: hidden;
    background-color: grey;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.content {
    height:100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-container {
    display: grid;
    column-gap: 9rem;
    grid-template-rows: 17rem 17rem 17rem;
    grid-template-columns: 17rem 17rem 17rem;
}

.card {
    height: 25vh;
    width: 20vw;
    display: flex;
    border-radius: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 162, 4);
}

@media only screen and (max-width: 400px) {
    body {
        overflow: scroll;
    }
    .card {
        height: 10vh;
        width:100vw;
        border-radius: 0;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }
}